<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta charset="utf-8">
  <title></title>
 </head>
 <body>
{# <input type="time">#}
<form action="" method="post" novalidate>
     {% csrf_token %}
   <div>{{ form.start_date}}</div>
   <div>{{ form.finish_date}}</div>

    <button >Отправить</button>
</form>
  <table border="1">
   <caption></caption>
   <tr>
       <th></th>
    <th>ID</th>
    <th>НОМЕР</th>
    <th>ДАТА</th>
    <th>ЦЕНА</th>
    <th>ТОВАР</th>
   </tr>

         {% for order in orders %}
              <td>
                <td>{{ order.id|safe }}</td>
                <td>{{ order.number|safe }}</td>
                <td>{{ order.created_date }}</td>
                <td>{{ order.total_price|safe }}</td>
                {% for item in order.items %}
                    <td>{{ item|safe }}</td>

                {% endfor %}
             </tr>
         {% endfor %}



  </table>
 </body>
</html>